zsh/conf-*.zsh

/atuin
tmux/plugins/*
gcloud
github-copilot
jgit
raycast
zed/conversations/*
zed/prompts/*
/infracost
/texstudio

gtk-*
qbittorrent
croc

k3d
pgcli

scripts/loadenv-src
/stripe
/argocd
/configstore
/cagent
/containers
\result
